@import "neat/neat-helpers"; // or "neat-helpers" when in Rails

// Change the grid settings
$column: 90px;
$gutter: 30px;
$grid-columns: 10;
$max-width: 1088px;

// Visual grid
//$visual-grid: true;
//$visual-grid-color: #000 !global;
//$visual-grid-index: front;
//$visual-grid-opacity: 0.5;


// Define your breakpoints
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);