@import "modules/bourbon/bourbon"; 
@import "modules/normalize/normalize"; 
@import "modules/grid_settings"; 
@import "modules/neat/neat"; 

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

$grid-border: 1px solid #ddd;

body{
	font-family: 'Open Sans',Tahoma, sans-serif;
}

.container{
	background: grey;
	
	.container-inner{
		@include clearfix;
		@include outer-container;	
		padding: 15px;
		background: white;
		
		.top{
			padding: 10px;
			min-height: 250px;
			.top-inner{
				@include clearfix;
				
				.logo{
					float: left;
					width: 40%;
					margin-bottom: 50px;
					
					img{
						display: block;
						width: 100%;
						max-width: 300px;
						margin: 0 auto;	
					}
				}
				.tools{
					width: 60%;
					float: right;
					margin-bottom: 50px;
				
					
					.row{
						@include row(table);
						margin-bottom: 20px;
							
						.block{
							@include span-columns(3, table);

							vertical-align: middle;
							text-align: center;
													
							.snap{
								width: 80%;

								display: block;
								margin: 0 auto;
								
								.computer{
									width: 100%;
									height: 100%;
									
									svg{ 
										width: 70%;
										height: 70%;
									}
									i.remove{ display:none; }
									
								}
	
							}
		
						}
					
					
					}
					input#hostname{ 
						float: right;
						min-width: 200px;
						
					}
				}
				h1{
					text-align: center;
					clear:both;
					
				}
				button{
					float:right;
				}
				
			}
		}
		
		.grid{
			@include border-top-radius(15px);
			@include border-bottom-radius(15px);
			border: $grid-border;
			padding:10px;
			
			.grid-inner{
				.row{
					@include row(table);
					.block{
						@include span-columns(5, table);
						height:150px;
						vertical-align: middle;
						text-align: center;
						
						&:nth-child(even){
							border-left: $grid-border;
							border-right: $grid-border;
						}
												
						.snap{
							width: 80%;
							height: 80%;
							display: block;
							margin: 0 auto;
							
							.computer{
								width: 100%;
								height: 100%;
								position: relative;
								
								i.remove{
									position: absolute;
									font-style: normal;
									font-size: 30px;
									color: #FF0A0A;
									top: -18px;
									right: -18px;
									cursor: pointer;
									&:after{
										content:"\2298";
										display:block;
										clear: both;
									}

								}
							}
							&.highlight{
								background: rgba(247, 255, 0, .1);
							}

						}
						

						
					}
					&:nth-child(even){
						border-top: $grid-border;
						border-bottom: $grid-border;
					}
					
				}			
			}
		}
				
	}
}

